# Python virtual environments
venv/
.env

# AWS Key
AWS_KEY_PAIR.pem

# Python cache
__pycache__/
*.py[cod]

# ChromaDB vector store
chroma_db/

# VSCode config
.vscode/

# OS-specific files
.DS_Store
Thumbs.db